body {
    background-color: hsl(210, 25%, 10%);
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 100px;
}

.password-container {
    margin-top: 20px;
}

input[type="text"] {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: hsl(210, 25%, 15%);
    color: #fff;
    border: none;
}

button {
    padding: 10px 20px;
    background-color: hsl(210, 50%, 30%);
    border: none;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: hsl(210, 50%, 40%);
}

